* {
    box-sizing: border-box;
}

header nav .icon-bar.horizontal {
    display: flex;
}

header nav .icon-bar.horizontal,
footer nav .icon-bar.vertical {
    padding: 0;
    list-style: none;
}

header nav .icon-bar li,
footer nav .icon-bar li {
    text-align: center;
    background-color: #333333;
    cursor: pointer;
    transition: .1s linear;
}

header nav .icon-bar li {
    width: 120px;
    height: 70px;
    line-height: 2.3;
}

footer nav .icon-bar li {
    width: 80px;
    height: 80px;
    line-height: 2.5;
}

header nav .icon-bar li:hover,
footer nav .icon-bar li:hover {
    background-color: #000000;
}

header nav .icon-bar li a,
footer nav .icon-bar li a {
    color: #FFFFFF;
    font-size: 30px;
}

header nav .icon-bar li.active,
footer nav .icon-bar li.active {
    background-color: #ff8d23;
}