* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    background-color: #333333;
    padding: 2px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

ul li a:hover {
    background-color: #24a860;
    border-radius: 10px;
}