* {
    box-sizing: border-box;
}

.tabs {
    border: 1px solid #888888;
    background-color: #eeeeee;
    width: 22%;
}

.tabs .tab {
    display: block;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    background-color: #eeeeee;
    transition: .2s ease;
    width: 100%;
    text-align: left;
}

.tabs .tab:hover {
    background-color: #b8b8b8;
}

.tabs .tab.color {
    background-color: #888888;
}

.content {
    float: right;
    animation: fade 1s;
    padding: 10px;
    width: 78%;
}

.content h3 {
    margin: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.close {
    float: right;
    cursor: pointer;
    font-size: 18px;
}