* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 10px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333333;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

main {
    margin-left: 100px;
}