.dropdown__btn {
    background-color: #333333;
    color: #ffffff;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #555555;
    min-width: 150px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown__content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown__content ul li a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.dropdown__content ul li a:hover {
    background-color: #000000;
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown:hover .dropdown__btn {
    background-color: #555555;
}