* {
    box-sizing: border-box;
}

body {
    background-color: #333333;
}

.pagination ul {
    margin-top: 50px;
    list-style: none;
    font-size: 0;
}

.pagination ul li {
    display: inline-block;
}

.pagination ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    font-size: 16px;
}

.pagination ul li a:not(.active):hover {
    background-color: #888888;
}

.pagination ul li a.active {
    background-color: #a82b2b;
}