* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333333;
    height: 100%;
    width: 120px;
    z-index: 1;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside ul li a {
    display: block;
    padding: 15px 20px;
    color: #c0c0c0;
    text-decoration: none;
}

aside ul li a:hover {
    color: #FFFFFF;
}

main {
    margin-left: 150px;
}